.formulario-container{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 32, 77);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}